<!-- Footer -->
<footer>
  <!-- Block with the name -->
  <div id="footer-name" class="row justify-content-center">
    <p class="footer-header col-11 text-center"> ALFONSO <b> LÓPEZ RUIZ </b></p>
  </div>

  <!-- Social media links -->
  <div id="contact" class="row justify-content-center footer-media-link-wrapper">
    <!-- Github -->
    <a href="https://github.com/AlfonsoLRz" class="footer-media-link">
      <i class="fab fa-github footer-media-link-image"></i> <p class="footer-media-link-description"> GITHUB </p>
    </a>

    <!-- Google Plus -->
    <a href="https://plus.google.com/u/0/110702185483984520259" class="footer-media-link">
      <i class="fab fa-google-plus footer-media-link-image"></i> <p class="footer-media-link-description"> GOOGLE PLUS </p>
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/AlfonsoL_R" class="footer-media-link">
      <i class="fab fa-twitter footer-media-link-image"></i> <p class="footer-media-link-description"> TWITTER </p>
    </a>
  </div>

  <!-- Other information -->
  <div class="row justify-content-center">
    <p class="col-11 text-muted text-center footer-other-info"> © Copyright 2018 | Alfonso López Ruiz | All Rights Reserved </p>
  </div>
</footer>

<!-- Scroll to TOP button -->
<a href="#firstSection" class="scroll-top-button"></a>
