<!-- Navigation bar -->
<nav class="navbar navbar-expand-xl fixed-top my-nav">
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-links" aria-controls="nav-links" aria-expanded="false" aria-label="Toggle navigation">
    <img src="assets/images/app/meatballs-menu.png" width=30>
  </button>

  <!-- Navigation bar links -->
  <div class="collapse navbar-collapse" id="nav-links">
    <div class="navbar-nav text-center">
      <a id="home" href="index.html"> home </a>
      <i class="fas fa-circle"></i>
      <a id="about-me" href="about_me.html"> about me </a>
      <i class="fas fa-circle"></i>
      <a id="projects" href="projects.html"> projects </a>
      <i class="fas fa-circle"></i>
      <a href="#contact"> contact </a>
    </div>
  </div>
</nav>
